@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500');

* {
  margin: 0;
  padding: 0;
}

html {
  height: 100vh;
  overflow: hidden;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #fff;
  height: 100%;
  overflow: hidden;
  position: relative;
}
body .main {
  display: flex;
  flex-direction: column;
  background-image: url(./img/background-pic.jpg);
  background-size: auto;
  background-position: center;
  height: 100%;
}

body h1 {
  /* margin-top: 10px;
  margin-bottom: 20px; */
  font-weight: 100;
  font-size: 5rem;
}

body h3 {
  margin-top: 30px;
  text-align: center;
  overflow: hidden;
  min-height: 1.2em;
  width: 90%;
  font-weight: 500;
  font-size: 0.8em;
  color: #2fe6d0;
}

body h3::before,
body h3::after {
  background-color: rgba(255, 255, 255, 0.1);
  content: '';
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}

body h3::before {
  right: 0.5em;
  margin-left: -50%;
}

body h3::after {
  left: 0.5em;
  margin-right: -50%;
}

body p {
  margin: 10px;
  font-weight: 300;
  opacity: 0.8;
  font-size: 1em;
  text-align: center;
  max-width: 500px;
}

.scroll-container {
  overflow: auto;
  padding-bottom: 20px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 90%;
  margin-bottom: 52px;
  overflow: hidden;
}

.highlighted-text {
  color: #2fe6d0;
}

.pic-container {
  margin-top: 20px;
  margin-bottom: 20px;
}

.profile-pic {
  width: 150px;
  height: 150px;
  background-image: url(./img/profile-pic.JPG);
  background-size: cover;
  overflow: hidden;
  /* border: rgba(45, 45, 45, 0.5) 1px solid; */
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  border-radius: 40px;
}

#footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50px;
}

.button-panel {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: rgba(255, 255, 255, 0.4) 1px solid;
  width: 90%;
  height: 100%;
}

.button {
  text-decoration: none;
  font-weight: 100;
  color: #fff;
  border: #fff 0.5px hidden;
  border-radius: 8px;
  padding: 8px 12px 8px 12px;
  margin: 0px;
  width: 80px;
  text-align: center;
  transition-duration: 350ms;
}

.button:hover {
  color: #2fe6d0;
  background-color: rgba(255, 255, 255, 0.1);
  /* box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12); */
}
